.toolbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--surface-0);
  background-color: var(--surface-800);
  height: 100vh;
  min-width: 325px;
}

.logout {
  cursor: pointer;
  border-radius: 18px;
  background-color: var(--surface-700);
}

.username {
  text-transform: capitalize;
}

.avatar {
  background-color: var(--indigo-500);
}