.headline {
  color: var(--surface-600);
  margin: 0;
}

.dropdown {
  color: var(--surface-0);
  background-color: var(--surface-800);
  border-color: var(--surface-600);
  width: 100%;
}

.slider {
  color: var(--surface-0);
  background-color: var(--surface-500);
  border-color: var(--surface-500);
  width: 100%;
}